<div class="container mt-5">
  <form #myform="ngForm" method="post" class="row" (ngSubmit)="createPlayer(myform.value)">
    <div class="col-md-12">
      <div class="form-group">
        <label for="playerName">Player Name:</label>
        <input type="text" class="form-control" id="playerName" name="playerName" ngModel>
      </div>

      <div class="form-group">
        <label for="jerseyNumber">Jersey Number:</label>
        <input type="text" class="form-control" id="jerseyNumber" name="jerseyNumber" ngModel>
      </div>

      <div class="form-group">
        <label for="role">Role:</label>
        <input type="text" class="form-control" id="role" name="role" ngModel>
      </div>

      <div class="form-group">
        <label for="totalMatches">Total Matches:</label>
        <input type="number" class="form-control" id="totalMatches" name="totalMatches" ngModel>
      </div>

      <div class="form-group">
        <label for="teamName">Team Name:</label>
        <input type="text" class="form-control" id="teamName" name="teamName" ngModel>
      </div>

      <div class="form-group">
        <label for="countryName">Country Name:</label>
        <input type="text" class="form-control" id="countryName" name="countryName" ngModel>
      </div>

      <div class="form-group">
        <label for="playerDescription">Player Description:</label>
        <textarea class="form-control" id="playerDescription" name="playerDescription" ngModel></textarea>
      </div>

      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Create Player</button>
      </div>
    </div>
  </form>
</div>
